TEAM {
	color: white;
	background-color : orange;
	width: 100%;
  text-align: center;
  align-items: center;
  overflow: hidden;
}
heading {
	color: white;
	font-size : 60px;
	background-color : green;
  border: 2px solid black;
}
heading, name, age, position, runs, wickets {
	display : block;
}
title {
	font-size : 35px;
	font-weight : bold;
}
player{
	border: 5px solid purple;
}
